body{

    background-color: var(--color-bg);
    

    --max-width: 100vw;

    --gap: calc(var(--padding)/2);
    --columns: 12;
    --width-grid: calc(var(--max-width) - var(--padding)*2 - var(--gap)*(var(--columns) - 1));
    --grid-unit: calc(var(--width-grid)/12);
    --top: var(--padding);


   
    --indent: calc(var(--grid-unit)/2 + var(--gap)/2);

    display: grid;
    grid-template-columns: repeat(12, var(--grid-unit));
    grid-template-rows: 1fr;
    grid-gap: var(--gap);
    width: calc(var(--max-width) - var(--padding)*2);
    margin: var(--padding) auto;


}





#site-header{
    position: fixed; 
    top: 0px;
    left: 0px;
    padding-left: var(--top);
    padding-top:  var(--top);
    width: calc(var(--grid-unit)*5 + var(--gap)*4);
    height: calc((100vh - var(--top)*2 - var(--gap))*1/3);
    
}

#menu{
    position: fixed; 
    width: calc(var(--grid-unit)*5 + var(--gap)*4);
    height: calc(var(--baseline)*10);
    top: calc(100vh - var(--top) - var(--baseline)*10);
}


main{
    grid-column: 6/12;
    grid-row: 1;
    min-height: calc(100vh - var(--top)*2);
    position: relative;
}


#aside-buttons{
    position: fixed;
    bottom: calc(var(--padding) + 6px);
    right: var(--padding);
    z-index: 100;
}



@media #{$medium}{

    body{
        --columns: 8;
        --grid-unit: calc(var(--width-grid)/8);
        grid-template-columns: repeat(8, var(--grid-unit));
    }

    main{
        grid-column: 2/8;
        margin-top: calc(var(--baseline)*3);
        // background-color: red;
    }


    #site-header{
        background-color: var(--color-bg);
        width: 100%;
        height: calc(var(--baseline)*3);
        border-bottom: 2px solid var(--black);
        padding: calc(var(--padding)/3) var(--padding);
        
        // top: 
    }

   
}