:root{

    --border-layout: 1px solid black;
    

    --padding: 24px;
 

    --chicago: 'ChicagoFLF';
    --arrow: "➾";
    --arrow: "➤";
    // --arrow: "➞";
    // --arrow: "✎";

    --list: square;

    --font: 'FK Grotesk Neue', Helvetica, Arial, sans-serif;
   

    --font-size: 18px;
    --baseline: 24px;

    --font-size-arrow: 28px;
    --font-size-big: 38px;
    --font-size-small: 13px;

    --button-size-original: 34px;
    --button-size: var(--button-size-original);
    --header: var(--button-size);
    --button-margin: 2px;
  


    --color-bg-1: #31a8f7;
    --color-bg-2: rgb(198, 196, 197);
    --color-bg-3: #ffdc50;
    --color-bg-4: #00df68;
    --color-bg-5: #ff5518;
    --color-h: 14px;


    --black: #1a1a1a;
    --yellow-bg: #fffeed;
    --accent: #ea4b32;
    --box: transparent;
    --baseline-grid:  transparent;
    --grid-color: transparent;


    --black: #1a1a1a;
    --yellow-bg: var(--color-bg-5);
    --accent: white;
    --grid-paper: white;
    
  


    --color-1a: rgb(203, 157, 162);
    --color-1b: rgb(92, 37, 41);
    --color-2a: rgb(228, 185, 118);
    --color-2b: rgb(101, 69, 29);
    --color-3a: rgb(187, 178, 206);
    --color-3b: rgb(69, 59, 96);
    --color-4a: rgb(174, 187, 186);
    --color-4b: rgb(58, 68, 68);

   


    --color-1: rgb(0, 82, 255);
    --color-2: rgb(255, 0, 0);
    --color-3: rgb(0, 255, 0);
    --color-4: rgb(123, 104, 238);
    --color-5: rgb(55, 199, 26);
    --color-6: rgb(98, 146, 2);
    --color-7: rgb(240, 244, 246);
    --color-8: rgb(8, 93, 221);
    --color-9: rgb(0, 69, 173);

    --dp-1: #2ac7a5;
    --dp-2: #f087ff;
    --dp-3: #6573dd;
    --dp-4: #ff6a54;
    --dp-5: #fd9452;
    --dp-6: rgb(228, 185, 118);
    --dp-7: rgb(8, 93, 221);

    --color-icon: #6573dd;
    // --color-icon: var(--accent);


 

}



body{
    --yellow-bg: var(--color-bg-2);
}