:root{

    --border-layout: 1px solid black;
    

    --padding: 24px;
 

    --chicago: 'ChicagoFLF';
    // --arrow: "➯";
    --arrow: "➤";
    // --arrow: "✿";
    // --arrow: "➞";
    // --arrow: "✎";

    --list: square;

    --font: 'FK Grotesk Neue', Helvetica, Arial, sans-serif;
   

    --font-size: 18px;
    --baseline: 24px;

    --font-size-arrow: 24px;
    --font-size-big: 38px;
    --font-size-small: 13px;

    --button-size-original: 34px;
    --button-size: var(--button-size-original);
    --header: var(--button-size);
    --button-margin: 2px;
  


    --color-bg-1: #31a8f7;
    --color-bg-2: rgb(198, 196, 197);
    --color-bg-3: #ffdc50;
    --color-bg-4: #00df68;
    --color-bg-5: #ff5518;
    --color-h: 14px;


    --black: #1a1a1a;
    --color-bg: #fffeed;
    --accent: #ea4b32;
    --box: transparent;
    --baseline-grid:  transparent;
    --grid-color: transparent;


    --black: #1a1a1a;
    --color-bg: var(--color-bg-2);
    --accent: white;
    --grid-paper: white;
    
}


