#site-header{



        h1{
            font-family: var(--chicago);
            font-weight: normal;
            font-size: var(--font-size-big);
            position: absolute;
            top: 15px;
        }

       
        a:hover{
            color: var(--accent);
         
        }

}

