{{ define "main" }}

<article class="page-member__container">

	<p class="back">
		<a href="{{ if eq .Lang "fr" }}/fr{{ end }}/team">{{ i18n "section.team" }}</a>
	</p>

	<header class="page-title page-member__header">
	  
		<h1>{{- .Title -}}</h1>

		{{ with .Params.role }}
		<p class="role">{{ . }}</p>
		{{ end }}

	

	</header>

    <div class="content page-member__content">
        {{ .Content | replaceRE `<a ([^>]+)>` `<a $1 target="_blank">` | safeHTML }}
		</div>

	{{ if .Params.website }}
	<p class="website">{{ i18n "informations.website" | safeHTML }}: <a href="{{ .Params.website }}" target="_blank">{{ .Params.website }}</a></p>
	{{ end }}


</article>

{{ end }}