#buttons-color{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: var(--color-h);
    display: flex;

    button{
        width: 20%;
        height: var(--color-h);
        background: none;
        border: none;
        margin: 0;
        cursor: pointer;
    }

}

#buttons-color #color-1{
    background-color: var(--color-bg-1);
}
#buttons-color #color-2{
    background-color: var(--color-bg-2);
}
#buttons-color #color-3{
    background-color: var(--color-bg-3);
}
#buttons-color #color-4{
    background-color: var(--color-bg-4);
}
#buttons-color #color-5{
    background-color: var(--color-bg-5);
}