.post__content{

    p{
        margin-bottom: var(--baseline);
    }

    // em{
    //     font-family: "Geist Mono";
    //     font-weight: normal;
    //     font-style: normal;
    // }


}

.page-title h1{
    font-size: var(--font-size-big);
    line-height: calc(var(--baseline)*2);
    font-weight: var(--weight);
    position: relative;
    top: 6px;
    margin-bottom: calc(var(--baseline)*3);
}





@mixin text(){
    max-width: 52ch;

    
    a{
        @include link-text();       
    }


    ul{
        list-style: var(--list);
        margin-left: 1.5ch;
        margin-top: calc(var(--baseline)*0.5);
        margin-bottom: calc(var(--baseline)*0.5);

    }

    h1, h2{
        padding-left: calc(var(--grid-unit)/2);
        padding-right: calc(var(--grid-unit)/2);
        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*1);
        
        font-weight: var(--weight);
        font-size: var(--font-size);


        &::before{
            content: var(--arrow) " ";
            // font-size: var(--font-size-arrow);
            position: absolute;
            left: 0;
        }

    }


    figure{
        margin: 0;
        margin-top: calc(var(--baseline)*1.5);
        margin-bottom: calc(var(--baseline)*1.5);

        figcaption{
            font-size: var(--font-size-small);
            line-height: calc(var(--baseline)*0.75);

            max-width: 56ch;
            margin-top: calc(var(--baseline)*0.75);
            padding-left: 2ch;

            &::before{
                content: var(--arrow);
                position: absolute;
                left: 0ch;
            }
        }
        img{
            display: flex;
            max-height: calc(var(--baseline)*20);
            max-width: 100%;
            object-fit: contain;
            @include img-border();
    
        }
    }

    figure + figure{
        margin-top: calc(var(--baseline)*-0.5);
    }
}



.content{
    @include text();

}
