{{ define "main" }}

<div class="page-tag__container">

	<header class="page-tag__header">
		<h1>
			{{- .Title -}}
		</h1>
		<p class="description">Below you will find pages that utilize the taxonomy term “{{ .Title }}”</p>
	

	</header>





	{{ $posts := where .Pages "Section" "journal" }}
	{{ if gt (len $posts) 0 }}
	<section class="list-posts">
		<h1>Posts</h1>
		<div class="list-posts__container">
			{{ range $posts }}
			<div class="list-posts__item">
				{{ partial "journal/summary.html" . }}
			</div>
			{{ end }}
		</div>
	</section>
	{{ end }}


	



</div>

{{ end }}