.static__content{
}



body[data-name*="bibliography"] {
    .content p {
        margin-bottom: var(--baseline);
        margin-left: 2ch;
        &::before{
            content: var(--arrow);
            position: absolute;
            left: 0ch;
        }
    }
}


body[data-name*="publications"] {
    .content {
        p {
            // margin-bottom: var(--baseline);
            margin-top: calc(var(--baseline)*1.5);
            margin-left: 2ch;
            &::before{
                content: var(--arrow);
                position: absolute;
                left: 0ch;
            }
        }

        

        ul{
            margin-left: var(--indent);
           
        }
    }
}