	<aside id="aside-buttons">

		<button id="language-switcher">
			{{ if eq .Lang "fr" }}<a data-lang="en" href="/en">en</a>{{ end }}
			{{ if eq .Lang "en" }}<a data-lang="fr" href="/fr">fr</a>{{ end }}
		</button>


        <button id="instagram"><a href="https://www.instagram.com/wysiwygproject/" target="_blank">{{ partial "icons/instagram.svg" }}</a></button>

		
		<input type="checkbox" id="mail-checkbox" aria-hidden="true" style="display: none;" />
		<button id="toggle-contact"><label for="mail-checkbox">{{ partial "icons/contact.svg" }}</label></button>

		<div id="contact-mail"><p>clemence.imbert@hesge.ch</p></div>
	</aside>
