<header id="site-header">

	


	<h1><a href="/">{{ i18n "site.title" }}</a> </h1>
	<div class="icon-title" id="header_draw-curve">{{ partial "icons-theme/draw-curve-icon.svg" }}</div>
	<div class="icon-title" id="header_text-size">{{ partial "icons-theme/text-size.svg" }}</div>
	<div class="icon-title" id="header_object-select">{{ partial "icons-theme/object-select-icon.svg" }}</div>
		<!-- {{ if eq .Type "posts" }}
			<h2><a href="{{ if eq .Lang "fr" }}/{{ .Lang }}{{ end }}/posts/">{{ i18n "section.posts" }}</a></h2>
		{{ else if eq .Type "team" }}
			<h2><a href="{{ if eq .Lang "fr" }}/{{ .Lang }}{{ end }}/posts/">{{ i18n "section.team" }}</a></h2>
		{{ else if not .IsHome }}
			<h2>{{ .Title }}</h2>
		{{ end }} -->
		



		
</header>

